extends ../layout

block setup
  - var title = t('view_person.title')

block content
  .content
    h1= person.firstname + ' ' + person.surname

    h2= t('view_person.list_acted_movies')
    ul
      each movie in person.ActedMovies
        li
          a(href='/movies/'+movie.id+'/view/')= movie.name

    h2= t('view_person.list_directed_movies')
    ul
      each movie in person.DirectedMovies
        li
          a(href='/movies/'+movie.id+'/view/')= movie.name

  .side
    form(action='/people/'+person.id+'/edit', method='post')
      h2= t('view_person.edit.title')
      label= t('view_person.edit.firstname')
        input(type='text', name='firstname')
      br
      label= t('view_person.edit.surname')
        input(type='text', name='surname')
      br
      input(type='submit', value=t('view_person.edit.submit'))