extends ../layout

block setup
  - var title = t('view_person.title')

block content
  .content
    h1= person.firstname + ' ' + person.surname

    h2= t('view_person.list_acted_movies')
    ul
      each movie in person.ActedMovies
        li
          a(href='/movies/'+movie.id+'/view/')= movie.name

    h2= t('view_person.list_directed_movies')
    ul
      each movie in person.DirectedMovies
        li
          a(href='/movies/'+movie.id+'/view/')= movie.name
