extends ../layout

block setup
  - var main = '/movie/view'

block content
  .content
    h1= movie.name
      span.orig= movie.origname

    h2= t('view_movie.list_actors')
    ul
      each actor in movie.Actors
        li
          a(href='/people/'+actor.id+'/view/')= actor.surname + ', ' + actor.firstname
          form(action='/movies/'+movie.id+'/remove_actor/'+actor.id, method='post').inline
            input(type='submit', value='').removeBtn

    h2= t('view_movie.list_directors')
    ul
      each director in movie.Directors
        li
          a(href='/people/'+director.id+'/view/')= director.surname + ', ' + director.firstname
          form(action='/movies/'+movie.id+'/remove_director/'+director.id, method='post').inline
            input(type='submit', value='').removeBtn

  .side
    form(action='/movies/'+movie.id+'/edit', method='post')
      h2= t('view_movie.edit.title')
      label= t('view_movie.edit.name')
        input(type='text', name='name', value=movie.name)
      br
      label= t('view_movie.edit.origname')
        input(type='text', name='origname', value=movie.origname)
      br
      label= t('view_movie.edit.year')
        input(type='number', name='year', value=movie.year)
      br
      label= t('view_movie.edit.format')
        select(name='format')
          each format in formats
            option(value=format, selected=(format===movie.format))= t('format.'+format)
      br
      label= t('view_movie.edit.genre')
        select(name='genre')
          each genre in genres
            option(value=genre, selected=(genre===movie.genre))= t('genre.'+genre)
      br
      label= t('view_movie.edit.notice')
        textarea(name='notice')= movie.notice
      br
      input(type='submit', value=t('view_movie.edit.submit'))

    form(action='/movies/'+movie.id+'/add_actor', method='post').addActor
      h2= t('view_movie.add_actor.title')
      label= t('view_movie.add_actor.person')
        select(name='person_id')
          each person in people
            option(value=person.id)= person.surname + ', ' + person.firstname
      br
      input(type='submit', value=t('view_movie.add_actor.submit'))
      
    form(action='/movies/'+movie.id+'/add_director', method='post').addDirector
      h2= t('view_movie.add_director.title')
      label= t('view_movie.add_director.person')
        select(name='person_id')
          each person in people
            option(value=person.id)= person.surname + ', ' + person.firstname
      br
      input(type='submit', value=t('view_movie.add_director.submit'))
      
    form(action='/movies/'+movie.id+'/remove', method='post')
      h2= t('view_movie.remove.title')
      input(type='submit', value=t('view_movie.remove.submit'))