extends ../layout


block content
  h1= movie.name

  h2= t('view_movie.add_actor.title')
  form(action='/movies/'+movie.id+'/add_actor', method='post')
    label= t('view_movie.add_actor.person')
      select(name='person_id')
        each person in people
          option(value=person.id)= person.surname + ', ' + person.firstname
    br
    input(type='submit', value=t('view_movie.add_actor.submit'))

  h2= t('view_movie.add_director.title')
  form(action='/movies/'+movie.id+'/add_director', method='post')
    label= t('view_movie.add_director.person')
      select(name='person_id')
        each person in people
          option(value=person.id)= person.surname + ', ' + person.firstname
    br
    input(type='submit', value=t('view_movie.add_director.submit'))

  h2= t('view_movie.list_actors')
  ul
  each actor in movie.Actors
    li
      a(href='/people/'+actor.id+'/view/')= actor.surname + ', ' + actor.firstname

  h2= t('view_movie.list_directors')
  ul
  each director in movie.Directors
    li
      a(href='/people/'+director.id+'/view/')= director.surname + ', ' + director.firstname
